@model List<Review>

@{
    ViewData["Title"] = "Reviews";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>

    <div class="row">
        @foreach (var review in Model)
        {
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-header">
                        Review for Mentor ID: @review.Mentor.MentorId <br>
                        Name: @review.Mentor.User.first_name @review.Mentor.User.last_name
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Rating: @review.Rating</h5>
                        <p class="card-text">@review.ReviewText</p>
                        <p class="card-text">Review Date: @review.ReviewDate?.ToShortDateString()</p>
                        <p class="card-text">Reviewed by: @review.Mentee.User.first_name @review.Mentee.User.last_name</p>
                        <a href="@Url.Action("Update", "Review", new { id = review.ReviewId })" class="btn btn-primary">Edit</a>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal-@review.ReviewId">Delete</button>
                    </div>
                </div>

                <!-- Delete Confirmation Modal -->
                <div class="modal fade" id="deleteModal-@review.ReviewId" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete this review?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <form asp-action="Delete" asp-route-id="@review.ReviewId" method="post">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="fixed-bottom m-4 text-end">
        <a asp-controller="Review" asp-action="CreateReview" class="btn btn-success text-white">
            <i class="bi bi-plus-circle"></i> Add New Review
        </a>
    </div>
</div>
