@model IEnumerable<Mentorship.Models.MentorMenteeAssignment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AssignedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mentee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mentor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mentee.MenteeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mentor.MentorId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AssignmentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AssignmentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AssignmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
