@model IEnumerable<Mentorship.Models.MentorshipSession>

@{
    ViewData["Title"] = "Mentorship Sessions";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

<div class="container mt-4">
    <h1 class="mb-4">@ViewData["Title"]</h1>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Session ID</th>
                <th>Mentor ID</th>
                <th>Mentee ID</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Session Notes</th>
                <th>Session Rating</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var session in Model)
            {
                <tr>
                    <td>@session.SessionId</td>
                    <td>@session.MentorId</td>
                    <td>@session.MenteeId</td>
                    <td>@session.StartTime.ToString()</td>
                    <td>@session.EndTime.ToString()</td>
                    <td>@session.SessionNotes</td>
                    <td>@session.SessionRating</td>
                    <td>
                        <div class="d-flex justify-content-around">
                            <a href="@Url.Action("Details", "MentorshipSession", new { id = session.SessionId })" class="btn btn-secondary btn-sm">
                                <i class="bi bi-eye"></i>
                            </a>
                            <a href="@Url.Action("Edit", "MentorshipSession", new { id = session.SessionId })" class="btn btn-primary btn-sm">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <a href="@Url.Action("Delete", "MentorshipSession", new { id = session.SessionId })" class="btn btn-danger btn-sm">
                                <i class="bi bi-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
